<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-manager}">
<head>
    <meta charset="UTF-8">
    <title>예약 / 예약 취소 승인</title>
    <link href="/css/store_reservation.css" rel="stylesheet"/>
    <script src="/js/store_reservation.js"></script>
</head>
<body>
<!-- navbar -->
<div class="navbar" layout:fragment="navbar">

</div>

<div class="wrapper">
    <div class="content-wrapper">
        <div class="sidebar" layout:fragment="sidebar"></div>
        <div class="content" layout:fragment="content">
            <div>예약 / 예약 취소 승인</div>
            <div th:text="|전체 ${reservationList.size()}건의 예약이 있습니다.|"></div>

            <th:block th:each="r : ${reservationList}">
                <div class="r-table-row">
                    <div th:text="${r.getMember().getMemberName()}"></div>
                    <div th:text="${r.getMember().getMemberPhone()}"></div>
                    <div th:text="${r.getReservedDateTime()}"></div>
                    <div th:text="${r.getReservationStatus()}"></div>
                    <!-- RESERVE_PENDING 상태에서의 버튼 -->
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'RESERVE_PENDING')}">예약 승인</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'RESERVE_PENDING')}">예약 거절</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'RESERVE_PENDING')}" disabled>예약 취소</button>
                    <!-- CONFIRMED 상태에서의 버튼 -->
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CONFIRMED')}" disabled>승인 완료</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CONFIRMED')}" disabled>예약 거절</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CONFIRMED')}">예약 취소</button>
                    <!-- REFUSED 상태에서의 버튼 -->
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'REFUSED')}" disabled>예약 승인</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'REFUSED')}" disabled>거절 완료</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'REFUSED')}" disabled>예약 취소</button>
                    <!-- CANCEL_PENDING 상태에서의 버튼 -->
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CANCEL_PENDING')}" disabled>예약 승인</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CANCEL_PENDING')}" disabled>예약 거절</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CANCEL_PENDING')}">예약 취소</button>
                    <!-- CANCELED 상태에서의 버튼 -->
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CANCELED')}" disabled>예약 승인</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CANCELED')}" disabled>예약 거절</button>
                    <button th:if="${#strings.equals(r.getReservationStatus(), 'CANCELED')}" disabled>취소 완료</button>
                </div>
            </th:block>
        </div>
    </div>
</div>

</body>
</html>