<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>팝업스토어 상세</title>
    <link href="/css/store_info.css" rel="stylesheet"/>
    <script src="/js/store_info.js"></script>
</head>
<body>
<div th:text="|팝업스토어 ID: ${store.getStoreId()}|"></div>
<div th:text="|팝업스토어명: ${store.getStoreName()}|"></div>
<div th:text="|팝업스토어 설명: ${store.getStoreShortDesc()}|"></div>
<div th:text="|오픈일: ${store.getStoreStartDate()}|"></div>
<div th:text="|종료일: ${store.getStoreEndDate()}|"></div>
<button th:if="${memberRole != null}" th:onclick="|goto_reservation_page(${store.getStoreId()})|">예약하기</button>
<button th:if="${memberRole == null}" disabled>로그인 후 예약하기</button>
</body>
</html>