* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 888px;
    min-height: 100vh;
    margin: auto auto;
    background-color: #FFFFFF;
}

.signup-top {
    display: flex;
    flex-direction: row;
}
.left-arrow-button {
    margin: 20px auto 32px 20px;
    cursor: pointer;
}
.signup-logo-area {
    margin: auto auto 91px auto;
}
.signup-logo-area img {
    width: auto;
    height: 65px;
}
.signup-title {
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #000000;
    margin: auto auto 64px auto;
}

.signup-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 59px;
    margin-bottom: 90px;
}
.group-title {
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #131313;
    margin-bottom: 16px;
}

.group-content-box {
    display: flex;
    flex-direction: row;
    width: 746px;
    height: 41px;
    padding-left: 16px;
}
.group-content-label {
    width: 178px;
    max-width: 178px;
    font-family: "Pretendard", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    margin: auto 0; /* auto 0 auto 0 */
}
.pw-check {
    width: 132px;
    padding: 12px 0;
    margin-left: 18px;
    background-color: #FFF2F3;
    border: 1px solid #FA6F77;
    border-radius: 6px;
    text-align: center;

    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FA6F77;

    transition: 0.15s linear;
}
.pw-check.ok {
    width: 132px;
    padding: 12px 0;
    margin-left: 18px;
    background-color: #E9FBFD;
    border: 1px solid #3ABAC1;
    border-radius: 6px;
    text-align: center;

    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #3ABAC1;
}
.group-content-box input {
    flex: 1;
    max-width: 402px;
    padding: 20px 16px;
    border: 0.5px solid #959595;
    border-radius: 6px;
    margin-left: 0;

    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
}
.group-content-box select {
    flex: 1;
    max-width: 125px;
    padding: 0 16px;
    border: 0.5px solid #959595;
    border-radius: 6px;
    margin-right: 12px;

    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
}
.signup-check-button {
    width: 132px;
    margin-left: 18px;
    background-color: #131313;
    border: 1.5px solid #131313;
    border-radius: 6px;

    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    transition: 0.15s linear;

    cursor: pointer;
}
.signup-check-button.disable {
    border: 1.5px solid #C6C6C6;
    background-color: #C6C6C6;
    color: #FFFFFF;
    cursor: unset;
}
.signup-check-button.active {
    border: 1.5px solid #131313;
    background-color: #FFFFFF;
    color: #131313;
    cursor: pointer;
}

input[readonly] {
    color: #C6C6C6;
}

.gender-button {
    width: 86px;
    padding: 12px 0;
    border: 1px solid #131313;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #131313;
    margin-right: 10px;

    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 14px;

    transition: 0.15s linear;

    cursor: pointer;
}
.gender-button.active {
    border: 1px solid #131313;
    background-color: #131313;
    font-weight: 600;
    color: #FFFFFF;
}

#birth-input[readonly] {
    color: #131313 !important;
}

/* flatpickr styling */
.flatpickr-calendar {
    font-family: "Pretendard", sans-serif;
    box-shadow: none !important;
}

.signup-bottom {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 48px;
}
.signup-confirm-button {
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    background-color: #C6C6C6;
    margin-left: auto;
    padding: 12px 48px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;

    transition: 0.15s linear;

    cursor: not-allowed;
}
.signup-confirm-button.active {
    border: 1px solid #000000;
    background-color: #000000;
    cursor: pointer;
}
.signup-cancel-button {
    border: 0.5px solid #C2C2C2;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-right: auto;
    padding: 12px 32px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;

    cursor: pointer;
}