<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-admin}">
<head>
    <meta charset="UTF-8">
    <title>팝업스토어 등록</title>
    <link href="/css/admin_store_registration.css" rel="stylesheet"/>
    <script src="/js/admin_store_registration.js"></script>
</head>
<body>
<!-- navbar -->
<div class="navbar" layout:fragment="navbar">

</div>

<div class="wrapper">
    <div class="content-wrapper">
        <div class="sidebar" layout:fragment="sidebar"></div>
        <div class="content" layout:fragment="content">
            <div class="content-title">팝업스토어&nbsp;&nbsp;/<hl>&nbsp;&nbsp;팝업스토어 등록</hl></div>

            <!-------------------------- 기본 정보 -------------------------->
            <div class="store-info-group">
                <div class="content-subtitle">기본 정보</div>
                <div class="store-info-content">
                    <!------- 기본 정보 왼쪽 ------->
                    <div class="store-info-content-left">
                        <div class="store-info-element">
                            <div class="store-info-label">팝업스토어 이름</div>
                            <input type="text">
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label">카테고리</div>
                            <div class="category-chip-button-box">
                                <button class="category-chip-button" onclick="setCategory(this)">아티스트</button>
                                <button class="category-chip-button" onclick="setCategory(this)">패션</button>
                                <button class="category-chip-button" onclick="setCategory(this)">뷰티</button>
                                <button class="category-chip-button" onclick="setCategory(this)">키덜트</button>
                                <button class="category-chip-button" onclick="setCategory(this)">푸드</button>
                                <button class="category-chip-button" onclick="setCategory(this)">비건</button>
                                <button class="category-chip-button" onclick="setCategory(this)">브랜드</button>
                                <button class="category-chip-button" onclick="setCategory(this)">기타</button>
                            </div>
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label">지점</div>
                            <input type="text">
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label">장소</div>
                            <input type="text">
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label">예약 방식</div>
                            <button class="reserve-method-button" onclick="setMethod(this)">직접승인</button>
                            <button class="reserve-method-button" onclick="setMethod(this)">자동승인</button>
                        </div>

                    </div>
                    <!------- 기본 정보 오른쪽 ------->
                    <div class="store-info-content-right">
                        <div class="store-info-element">
                            <div class="store-info-label">팝업스토어 한줄 설명</div>
                            <input type="text">
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label align-top">팝업스토어 상세 설명</div>
                            <textarea></textarea>
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label">시작일</div>
                            <input type="date">
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label">종료일</div>
                            <input type="date">
                        </div>

                    </div>
                </div>
            </div>

            <!------------------------ 예약 시간 설정 ------------------------>
            <div class="store-info-group">
                <div class="content-subtitle">예약 시간 설정</div>
                <div class="store-info-content">
                    <!------- 예약 시간 설정 왼쪽 ------->
                    <div class="store-info-content-left">
                        <div class="store-info-element">
                            <div class="store-info-label">운영 시작 시간</div>
                            <input type="time">
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label">운영 종료 시간</div>
                            <input type="time">
                        </div>
                        <div class="store-info-element">
                            <div class="store-info-label">예약 시간 단위</div>
                            <button class="reserve-gap-button" onclick="setGap(this)">30분</button>
                            <button class="reserve-gap-button" onclick="setGap(this)">1시간</button>
                        </div>
                    </div>
                    <!------- 예약 시간 설정 오른쪽 ------->
                    <div class="store-info-content-right">
                        <div class="store-info-element">
                            <div class="store-info-label">시간별 최대 정원</div>
                            <input type="number">
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------- 팝업스토어 이미지 ---------------------->
            <div class="store-image-group">
                <div class="store-image-top">
                    <div class="content-subtitle topleft">예약 시간 설정</div>
                    <label for="upload-input">
                        <div class="upload-button">이미지 업로드</div>
                    </label>
                    <input type="file" name="upload-input" id="upload-input">
                </div>
                <div class="store-image-bottom">
                    <div class="store-image-box"></div>
                    <div class="store-image-box"></div>
                    <div class="store-image-box"></div>
                    <div class="store-image-box"></div>
                    <div class="store-image-box"></div>
                </div>
            </div>

            <!-------------------- 등록하기 / 취소 버튼 --------------------->
            <div class="button-box">
                <div class="register-button">등록하기</div>
                <div class="reset-button">작성 취소</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>