<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-member}">
<head>
    <meta charset="UTF-8">
    <title>신세계백화점 팝업스토어 행사</title>
    <link href="/css/index.css" rel="stylesheet"/>
    <script src="/js/index.js"></script>
</head>
<body>
<!-- navbar -->
<div class="navbar" layout:fragment="navbar">

</div>

<div class="content" layout:fragment="content">
    <div class="content-wrapper">
        <div class="category-title">전체 팝업스토어</div>
        <div class="category-box">
            <div class="category-button">아티스트</div>
            <div class="category-button">패션</div>
            <div class="category-button">뷰티</div>
            <div class="category-button">캐릭터</div>
            <div class="category-button">키덜트</div>
            <div class="category-button">푸드</div>
            <div class="category-button">비건</div>
            <div class="category-button">브랜드</div>
            <div class="category-button">기타</div>
        </div>

        <div class="store-box-top">
            <div class="store-count">총 <hl th:text="${page.getTotalElements()}"></hl>개의 전체 팝업스토어</div>
            <div class="reset-button">카테고리 초기화</div>
        </div>
        <div class="store-box-bottom">
            <!-- grid layout -->
            <div class="store-grid-container">
                <th:block th:each="store : ${storeList}">
                    <div class="store-meta" th:onclick="|goto_store_info(${store.getStoreId()})|">
                        <div class="store-thumbnail"><img th:src="${store.getStoreMainThumbnail()}"></div>
                        <div class="store-text-box">
                            <div class="store-name" th:text="${store.getStoreName()}"></div>
                            <div class="store-desc" th:text="${store.getStoreShortDesc()}"></div>
                            <div class="store-period" th:text="${store.getStoreStartDate().format(formatter) + ' ~ ' + store.getStoreEndDate().format(formatter)}"></div>
                        </div>
                    </div>
                </th:block>

            </div>
        </div>

        <div class="pagination-box">
            <div class="pagination-left"><img th:src="@{/icon/store/pagination_left.svg}"></div>
            <th:block th:each="num : ${#numbers.sequence(1,page.getTotalPages())}">
                <div class="page-button-selected" th:if="${num == page.getPageNumber()+1}" th:text="${num}"></div>
                <div class="page-button" th:if="${num != page.getPageNumber()+1}" th:text="${num}" th:onclick="|load_page(${num})|"></div>
            </th:block>
            <div class="pagination-right"><img th:src="@{/icon/store/pagination_right.svg}"></div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer" layout:fragment="footer">

</div>

</body>
</html>