<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-member}">
<head>
    <meta charset="UTF-8">
    <title>신세계백화점 팝업스토어 행사</title>
    <link href="/css/index.css" rel="stylesheet"/>
</head>
<body>
<!-- navbar -->
<div class="navbar" layout:fragment="navbar">

</div>

<div class="content" layout:fragment="content">
    <div class="content-wrapper">
        <div class="category-title">전체 팝업스토어</div>
        <div class="category-box">
            <div class="category-button">아티스트</div>
            <div class="category-button">패션</div>
            <div class="category-button">뷰티</div>
            <div class="category-button">캐릭터</div>
            <div class="category-button">키덜트</div>
            <div class="category-button">푸드</div>
            <div class="category-button">비건</div>
            <div class="category-button">브랜드</div>
            <div class="category-button">기타</div>
        </div>

        <div class="store-box-top">
            <div class="store-count">총 <hl>27</hl>개의 전체 팝업스토어</div>
            <div class="reset-button">카테고리 초기화</div>
        </div>
        <div class="store-box-bottom">
            <!-- grid layout -->
            <div class="store-grid-container">
                <th:block th:each="num : ${#numbers.sequence(1,9)}">
                    <div class="store-meta">
                        <div class="store-thumbnail"></div>
                        <div class="store-name">체이싱래빗 in 신세계백화점 강남</div>
                        <div class="store-desc">컬러풀 비건 뷰티 "체이싱래빗"의 두 번째 팝업</div>
                        <div class="store-period">02.21(금) ~ 03.06(목)</div>
                    </div>
                </th:block>

            </div>
        </div>

        <div class="pagination-box">
            <div class="pagination-left"><img th:src="@{/icon/store/pagination_left.svg}"></div>
            <th:block th:each="num : ${#numbers.sequence(1,5)}">
                <div class="page-button" th:text="${num}"></div>
            </th:block>
            <div class="pagination-right"><img th:src="@{/icon/store/pagination_right.svg}"></div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer" layout:fragment="footer">

</div>

<script src="/js/index.js"></script>

</body>
</html>