<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-manager}">
<head>
    <meta charset="UTF-8">
    <title>팝업스토어 정보</title>
    <link href="/css/manager_store_info.css" rel="stylesheet"/>
    <script src="/js/manager_store_info.js"></script>
</head>
<body>
<!-- navbar -->
<div class="navbar" layout:fragment="navbar">

</div>

<div class="wrapper">
    <div class="content-wrapper">
        <div class="sidebar" layout:fragment="sidebar">

        </div>
        <div class="content" layout:fragment="content">
            팝업스토어 정보 페이지임 ㅇㅇ
        </div>
    </div>
</div>

</body>
</html>